<h1>New multiplication</h1>

<form action="/wizard_multiply">
<label for="form_multiply">
Multiply this:
</label>
<input id="form_multiply" name="multi_one" text="text">
<label for="form_multiply_two">
  by this:
  </label>
  <input id="form_multiply_two" name="multi_two" text="text">
  <button>Multiply!</button>
</form>
