<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="minus_this">
    Subtract this:
  </label>
<input id="minus_this" name="minus_number" text="text">
<label for="and_this">
from this:
</label>
<input id="and_this" name="minus_number_two" text="text">
<button>Subtract!</button>
</form>
